<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>#{bundle.titulo}</title>
    </h:head>
    <h:body>
        <h:form>
            <p:panel header="#{bundle.titulo} #{beanVolqueta.listaSE.contarNodos()}">
                <center>
                    <p:panelGrid columns="2">
                        <p:outputLabel value="#{bundle.marca}" />
                        <p:selectOneMenu value="#{beanVolqueta.volquetaAMostrar.dato.marca}" id="somMarca" disabled="#{beanVolqueta.deshabilitarNuevo}" required="true">
                            <f:selectItem itemValue="0" itemLabel="#{bundle.somSeleccione}" itemEscaped="true"/>
                            <f:selectItem itemValue="Kenworth" itemLabel="#{bundle.somMasculino}"/>
                            <f:selectItem itemValue="Yutong" itemLabel="#{bundle.somYutong}"/>
                            <f:selectItem itemValue="Foton" itemLabel="#{bundle.somFoton}"/>
                            <f:selectItem itemValue="Cater Pilar" itemLabel="#{bundle.somCaterPilar}"/>
                            <f:selectItem itemValue="Chevrolet" itemLabel="#{bundle.somChevrolet}"/>
                        </p:selectOneMenu>

                        <p:outputLabel value="#{bundle.capacidad}" for="spCapacidad"/>
                        <p:spinner id="spCapacidad" required="true" min="1" max="10"  
                                   value="#{beanVolqueta.volquetaAMostrar.dato.capacidad}"
                                   disabled="#{beanVolqueta.deshabilitarNuevo}"/>

                        <p:outputLabel value="#{bundle.tipoCarga}" for="somTipoCarga"/>
                        <p:selectOneMenu value="#{beanVolqueta.volquetaAMostrar.dato.tipoCarga}" id="somTipoCarga" required="true" disabled="#{beanVolqueta.deshabilitarNuevo}">
                            <f:selectItem itemValue="0" itemLabel="#{bundle.somSeleccione}" itemEscaped="true"/>
                            <f:selectItem itemValue="Grabilla" itemLabel="#{bundle.somGrabilla}"/>
                            <f:selectItem itemValue="Arena" itemLabel="#{bundle.somArena}"/>
                            <f:selectItem itemValue="Escombros" itemLabel="#{bundle.somEscombros}"/>

                        </p:selectOneMenu>

                    </p:panelGrid>
                    
                    <h:panelGroup layout="block"><br/>
                        
                        <p:commandButton value="#{bundle.btnNuevo}" 
                                         action="#{beanVolqueta.habilitarCrearVolqueta()}"
                                         rendered="#{beanVolqueta.deshabilitarNuevo}" 
                                         update="@all"/>
                        
                        <p:commandButton value="#{bundle.btnPrimero}" 
                                         action="#{beanVolqueta.validarRecorridoIrAlPrimero()}" 
                                         update="@all" 
                                         disabled="#{beanVolqueta.habilitarBoton}"
                                         rendered="#{beanVolqueta.deshabilitarNuevo}"/> 

                        <p:commandButton value="#{bundle.btnSiguiente}" 
                                         action="#{beanVolqueta.validarRecorridoIrAlSiguiente()}"
                                         update="@all"
                                         disabled="#{beanVolqueta.habilitarBoton}"
                                         rendered="#{beanVolqueta.deshabilitarNuevo}"/>

                        <p:commandButton value="#{bundle.btnUltimo}" 
                                         action="#{beanVolqueta.validarRecorridoIrAlUltimo()}" 
                                         update="@all"
                                         disabled="#{beanVolqueta.habilitarBoton}"
                                         rendered="#{beanVolqueta.deshabilitarNuevo}"/>
                        
                        <p:commandButton value="#{bundle.btnGuardar}"
                                         ajax="false"
                                         action="#{beanVolqueta.guardarVolqueta()}"
                                         rendered="#{!beanVolqueta.deshabilitarNuevo}" 
                                         immediate="true" update="@all"/>
                        
                        <p:commandButton value="#{bundle.btnCancelar}" 
                                         action="#{beanVolqueta.cancelarGuardado()}"
                                         rendered="#{!beanVolqueta.deshabilitarNuevo}"
                                         immediate="true" update="@all"/><br/><br/>
                        
                        <p:commandButton value="#{bundle.btnListaVolquetas}" 
                                         action="#{beanVolqueta.listarVolquetasMenoresADos()}"
                                         rendered="#{beanVolqueta.deshabilitarNuevo}" 
                                         update="@all"/>
                        
                        <p:commandButton value="#{bundle.btnVolquetaMayorCapacidad}" 
                                         action="#{beanVolqueta.obtenerVolquetaConMayorCapacidad()}"
                                         rendered="#{beanVolqueta.deshabilitarNuevo}" 
                                         update="@all"/>
                        
                    </h:panelGroup>
                </center>
            </p:panel>
        </h:form>
    </h:body>
</html>

